openapi: 3.0.0
info:
  title: OpenFinance Brasil - Accounts API
  description: |
    API de contas de depósito à vista, contas de poupança e contas pré-pagas do Open Finance Brasil
  version: 2.4.2
  contact:
    name: Open Finance Brasil
    url: https://openfinance.org.br
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT

servers:
  - url: https://api.openfinance.org.br/open-banking/accounts/v2
    description: Production server
  - url: https://sandbox.openfinance.org.br/open-banking/accounts/v2
    description: Sandbox server

security:
  - OAuth2AuthorizationCode:
      - accounts

paths:
  /accounts:
    get:
      tags:
        - Accounts
      summary: Obtém a lista de contas do cliente
      operationId: getAccounts
      description: Método para obter a lista de contas de depósito à vista, poupança e pagamento pré-pagas mantidas pelo cliente na instituição transmissora
      parameters:
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/xFapiAuthDate'
        - $ref: '#/components/parameters/xFapiCustomerIpAddress'
        - $ref: '#/components/parameters/xFapiInteractionId'
        - $ref: '#/components/parameters/xCustomerUserAgent'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize'
      responses:
        '200':
          $ref: '#/components/responses/OKResponseAccountsList'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /accounts/{accountId}:
    get:
      tags:
        - Accounts
      summary: Obtém dados de uma conta específica
      operationId: getAccountsAccountId
      description: Método para obter dados de uma conta específica
      parameters:
        - $ref: '#/components/parameters/accountId'
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/xFapiAuthDate'
        - $ref: '#/components/parameters/xFapiCustomerIpAddress'
        - $ref: '#/components/parameters/xFapiInteractionId'
        - $ref: '#/components/parameters/xCustomerUserAgent'
      responses:
        '200':
          $ref: '#/components/responses/OKResponseAccountsData'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /accounts/{accountId}/balances:
    get:
      tags:
        - Balances
      summary: Obtém saldos da conta
      operationId: getAccountsAccountIdBalances
      description: Método para obter saldos da conta de depósito à vista, poupança ou pagamento pré-paga
      parameters:
        - $ref: '#/components/parameters/accountId'
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/xFapiAuthDate'
        - $ref: '#/components/parameters/xFapiCustomerIpAddress'
        - $ref: '#/components/parameters/xFapiInteractionId'
        - $ref: '#/components/parameters/xCustomerUserAgent'
      responses:
        '200':
          $ref: '#/components/responses/OKResponseAccountsBalances'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'

components:
  securitySchemes:
    OAuth2AuthorizationCode:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://auth.openfinance.org.br/auth
          tokenUrl: https://auth.openfinance.org.br/token
          scopes:
            accounts: Scope necessário para acesso às informações de contas

  parameters:
    Authorization:
      name: Authorization
      in: header
      description: Cabeçalho HTTP padrão. Permite que as credenciais sejam fornecidas dependendo do tipo de recurso solicitado
      required: true
      schema:
        type: string
        pattern: Bearer \s*.+
        example: Bearer 2YotnFZFEjr1zCsicMWpAA

    accountId:
      name: accountId
      in: path
      description: Identificador único da conta
      required: true
      schema:
        type: string
        pattern: ^[a-zA-Z0-9][a-zA-Z0-9\-]{0,99}$
        maxLength: 100
        example: "12345678901234567890"

    xFapiAuthDate:
      name: x-fapi-auth-date
      in: header
      description: Data em que o usuário logou pela última vez com o receptor
      required: false
      schema:
        type: string
        pattern: ^([\+-]?\d{4}(?!\d{2}\b))((-?)((0[1-9]|1[0-2])(\3([12]\d|0[1-9]|3[01]))?|W([0-4]\d|5[0-2])(-?[1-7])?|(00[1-9]|0[1-9]\d|[12]\d{2}|3([0-5]\d|6[1-6])))([T\s]((([01]\d|2[0-3])((:?)[0-5]\d)?|24\:?00)([\.,]\d+(?!:))?)?(\17[0-5]\d([\.,]\d+)?)?([zZ]|([\+-])([01]\d|2[0-3]):?([0-5]\d)?)?)?)?$
        example: "Sun, 10 Sep 2017 19:43:31 GMT"

    xFapiCustomerIpAddress:
      name: x-fapi-customer-ip-address
      in: header
      description: O endereço IP do usuário se estiver atualmente logado com o receptor
      required: false
      schema:
        type: string
        pattern: ^\d{1,3}\.\d{1,3}\.\d{1,3}\.\d{1,3}$
        example: "104.236.80.23"

    xFapiInteractionId:
      name: x-fapi-interaction-id
      in: header
      description: Um UID RFC4122 usado como um ID de correlação
      required: false
      schema:
        type: string
        pattern: ^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$
        example: "6ca4b3d0-5f4c-4e44-a47b-7d4c8b3a6a5f"

    xCustomerUserAgent:
      name: x-customer-user-agent
      in: header
      description: Indica o user-agent que o usuário utiliza
      required: false
      schema:
        type: string
        example: "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36"

    page:
      name: page
      in: query
      description: Número da página que está sendo requisitada
      required: false
      schema:
        type: integer
        default: 1
        minimum: 1
        maximum: 2147483647

    pageSize:
      name: page-size
      in: query
      description: Quantidade total de registros por páginas
      required: false
      schema:
        type: integer
        default: 25
        minimum: 1
        maximum: 1000

  schemas:
    ResponseAccountsList:
      type: object
      required:
        - data
        - links
        - meta
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/AccountData'
        links:
          $ref: '#/components/schemas/Links'
        meta:
          $ref: '#/components/schemas/Meta'

    AccountData:
      type: object
      required:
        - accountId
        - brandName
        - companyCnpj
        - type
        - compeCode
        - branchCode
        - number
        - checkDigit
      properties:
        accountId:
          type: string
          description: Identificador único da conta
          pattern: ^[a-zA-Z0-9][a-zA-Z0-9\-]{0,99}$
          maxLength: 100
          example: "12345678901234567890"
        brandName:
          type: string
          description: Nome da marca
          maxLength: 80
          example: "Organização A"
        companyCnpj:
          type: string
          description: Número de inscrição no Cadastro Nacional da Pessoa Jurídica
          pattern: ^\d{14}$
          example: "21128159000166"
        type:
          type: string
          enum:
            - CONTA_DEPOSITO_A_VISTA
            - CONTA_POUPANCA
            - CONTA_PAGAMENTO_PRE_PAGA
        compeCode:
          type: string
          description: Código identificador atribuído pelo Banco Central
          pattern: ^\d{3}$
          example: "001"
        branchCode:
          type: string
          description: Código da agência detentora da conta
          pattern: ^\d{4}$
          example: "6272"
        number:
          type: string
          description: Número da conta
          pattern: ^\d{8,20}$
          example: "24550245"
        checkDigit:
          type: string
          description: Dígito da conta
          pattern: ^\w{1}$
          example: "4"

    ResponseAccountsBalances:
      type: object
      required:
        - data
        - links
        - meta
      properties:
        data:
          $ref: '#/components/schemas/AccountsBalancesData'
        links:
          $ref: '#/components/schemas/Links'
        meta:
          $ref: '#/components/schemas/Meta'

    AccountsBalancesData:
      type: object
      required:
        - availableAmount
        - availableAmountCurrency
        - blockedAmount
        - blockedAmountCurrency
      properties:
        availableAmount:
          type: string
          description: Saldo disponível
          pattern: ^\d{1,15}\.\d{2,4}$
          example: "1000.00"
        availableAmountCurrency:
          type: string
          pattern: ^[A-Z]{3}$
          example: "BRL"
        blockedAmount:
          type: string
          description: Valor bloqueado
          pattern: ^\d{1,15}\.\d{2,4}$
          example: "100.00"
        blockedAmountCurrency:
          type: string
          pattern: ^[A-Z]{3}$
          example: "BRL"

    Links:
      type: object
      properties:
        self:
          type: string
          format: uri
          example: "https://api.openfinance.org.br/open-banking/accounts/v2/accounts"
        first:
          type: string
          format: uri
          example: "https://api.openfinance.org.br/open-banking/accounts/v2/accounts"
        prev:
          type: string
          format: uri
        next:
          type: string
          format: uri
        last:
          type: string
          format: uri

    Meta:
      type: object
      required:
        - totalRecords
        - totalPages
      properties:
        totalRecords:
          type: integer
          example: 1
        totalPages:
          type: integer
          example: 1

    ResponseError:
      type: object
      required:
        - errors
      properties:
        errors:
          type: array
          minItems: 1
          maxItems: 13
          items:
            type: object
            required:
              - code
              - title
              - detail
            properties:
              code:
                description: Código de erro específico do endpoint
                type: string
                pattern: [\w\W\s]*
                maxLength: 255
              title:
                description: Título legível por humanos deste erro específico
                type: string
                pattern: [\w\W\s]*
                maxLength: 255
              detail:
                description: Descrição legível por humanos deste erro específico
                type: string
                pattern: [\w\W\s]*
                maxLength: 2048
              meta:
                type: object
                description: Objeto opcional que pode conter informações adicionais sobre o erro
                additionalProperties: true

  responses:
    OKResponseAccountsList:
      description: Dados das contas obtidos com sucesso
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ResponseAccountsList'

    OKResponseAccountsData:
      description: Dados da conta obtidos com sucesso
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/AccountData'

    OKResponseAccountsBalances:
      description: Saldos da conta obtidos com sucesso
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ResponseAccountsBalances'

    BadRequest:
      description: A requisição foi malformada
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ResponseError'

    Unauthorized:
      description: Cabeçalho de autenticação ausente/inválido ou token inválido
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ResponseError'

    Forbidden:
      description: O token tem escopo incorreto ou uma política de segurança foi violada
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ResponseError'

    NotFound:
      description: O recurso solicitado não existe ou não foi implementado
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ResponseError'

    MethodNotAllowed:
      description: O consumidor tentou acessar o recurso com um método não suportado
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ResponseError'

    NotAcceptable:
      description: A solicitação continha um cabeçalho Accept diferente dos tipos de mídia permitidos
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ResponseError'

    TooManyRequests:
      description: A operação foi recusada pois muitas solicitações foram feitas
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ResponseError'

    InternalServerError:
      description: Ocorreu um erro no gateway da API ou no microsserviço
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ResponseError'